@import '../variables';

.categories {
  ul {
    display: flex;
    gap: 5px;

    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;
      position: absolute;
      margin-top: 15px;
      background: #ffffff;
      box-shadow: 0px 5px 15px rgb(0 0 0 / 9%);
      border-radius: 10px;
      overflow: hidden;
      padding: 10px;
      visibility: hidden;
      opacity: 0;
      right: 0;
      transition: .2s;
      transform: translateY(-30px);
      top: 10px;

      &.open {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }

    li {
      background-color: #f9f9f9;
      padding: 3px 15px;
      border-radius: 30px;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      user-select: none;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }

  & > .label {
    &-mobile {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
      width: max-content;
      position: relative;
      display: none;
      @include media-breakpoint-down(md) {
        display: flex;
        gap: 10px;
      }
    }

    &-title {
      margin-right: 10px;
    }
  }
}
