.pagination {
  display: flex;
  gap: 10px;
  padding: 20px 0;

  &__item {
    border-radius: 20px;
    width: 24px;
    height: 24px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.active {
      background-color: $orange;
      border-color: $orange;
      color: #fff;
    }
  }
}
