$black: #232323;
$background: #fcfbf6;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$orange-light: #ffede6;
$container-width: 90%;
$gray: #e9e9e9;


$duration: 0.15s;

$border-radius: 8px;
$shadow: 0 0 15px rgb(0 0 0 / 4%)
